<html>

<head>
    <link rel="icon"
        href="http://s2.glbimg.com/AkMAuhK7l59y5NnVbyK__5ALWLg=/620x465/s.glbimg.com/jo/g1/f/original/2016/10/17/suricato.jpg">
    <title>Adote um suricato</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
</head>

<body class="container-fluid" ng-app="aplicacao">
    <div class="header-inner">
        <h1 style="text-align: center; color: blue;">
            Adoção Suricato
        </h1>
    </div>
    <nav class="navbar navbar-default" ng-controller="MenuController">
        <div class="collapse navbar-collapse" id="menu"> 
            <ul class="nav navbar-nav">
                <li><a ng-click="irInicio()">Início</a></li>
                <li><a ng-click="irListagem()">Suricatos</a></li>
                <li><a ng-click="irCadastro()">Cadastro</a></li>
                <li><a ng-click="irPrevisao()">Previsão do Tempo</a></li>
            </ul>
        </div>
    </nav>
    <div ui-view></div>
    <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">
                    Suricatos sao deuses escondidos @ 2019
                </span>
            </p>
        </div>
    </div>

    <script src="scripts/libs/angular.js"></script>
    <script src="scripts/libs/ngResource.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/listagem-suricatos-controller.js"></script>
    <script src="scripts/previsao-tempo-controller.js"></script>
    <script src="scripts/suricato-collection-service.js"></script>
    <script src="scripts/nova-inscricao-controller.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="scripts/libs/angular-ui-router.js"></script>
    <script src="scripts/menu-controller.js"></script>
    <script src="scripts/cadastro-suricato-directive.js"></script>
</body>

</html>