<!--
Nome do autor: Fabio Augusto Amaro Jaime
Data de criacao do arquivo: 26/03/2019
Objetivo sucinto do programa: Simular uma adocao de suricatos usando html, angular e bootstrap
Referencia ao enunciado/origem do exercicio: https://cursos.timtec.com.br/course/desenvolvimento-web-com-angularjs/intro 
-->

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
</head>

<body>
    <div class="well">
        <center>
            <h2>Olá, seja bem vindo!</h3>
                <h4>Nossa aplicação tem o intuito de ajudar suricatos sem lar a encontrar uma família.</h4>
                <img src="img/suricatin.jpg" height="300" width="500">
        </center>
    </div>
</body>

</html>